@model BlueRibbonsReview.Models.Campaign

@{
    ViewBag.Title ="Campaign Details";
    ViewBag.Tagline = "";
    
}


<div>
    <div class="details-modal col-md-4  col-sm-12">
        <img src="@Html.DisplayFor(model => model.ImageUrL)" style="max-height:100%; max-width:100%; " />
    </div>
    <div class="col-md-8 col-sm-12">
        <dl class="dl-horizontal">
                Regular Price:
            &nbsp;
                $@Html.DisplayFor(model => model.RetailPrice)
                <br />
                @*Reviewer Discount:
            &nbsp;
                $@Html.DisplayFor(model => model.CalculatedDiscount)
                <br />*@

                <div class="specialprice">$@Html.DisplayFor(model => model.SalePrice)</div>
            <hr />
                <p>To request this product, please login: </p>
                <button type="button" class="btn btn-primary" link="@Html.DisplayFor(model => model.VendorsPurchaseURL)">Login Page</button>
            <hr />
                <h3 class="details-description">Deal Description:</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
        </dl>
    </div>
</div>
